[submodule "Semester2/IDS"]
	path = Semester2/IDS
	url = git@github.com:TheSpyGeek/M1_IDS_TP.git
[submodule "Semester2/GeoNum"]
	path = Semester2/GeoNum
	url = git@github.com:TheSpyGeek/M1_GeoNum.git
[submodule "Semester2/SI"]
	path = Semester2/SI
	url = git@github.com:TheSpyGeek/M1_SI.git
[submodule "Semester2/DevOps"]
	path = Semester2/DevOps
	url = git@github.com:TheSpyGeek/M1_DevOps.git
